<div>
  <p>
    An credit or debit that to account for an error can be recorded by filling outt he form at NEED AN
    IMAGE URL.
  </p>
  <p>
    Set the following properties.
  </p>
  <ul>
    <li>Adjustment type: Miscellaneous Adjustment (dropdown)</li>
    <li>Account : 00002 (dropdown)</li>
    <li>Currency: United States Dollar (dropdown)</li>
    <li>Amount: signed amount (decimal)</li>
    <li>Segregation: NON (dropdown)</li>
    <li>Posted On: 2017-05-22 (datepicker)</li>
    <li>As of On: 2017-05-22 (datepicker - optional)</li>
    <li>Memo: Example Miscellaneous Adjustment (reason/description)</li>
  </ul>

  <%= image_tag("new_miscellaneous_adjustment.png", :alt => "new miscellaneous adjustment") %>

  <p>The following snap shows the adjustment sucessfully created.</p>

  <%= image_tag("created-adjustment.png", :alt => "created miscellaneous adjustment") %>

  <p>
    The adjustment will be visible through the Adjustment URL https://jackijack.com/admin/adjustments.
  </p>

  <p>
    Recording cash credits of debits driven by reasons other than error correction can be made in the same way.
  </p>

</div>
