<div>
  <p>
    Ruby on Rails is a collection of sofware components that support development of web applications
    using a database backend following the
    <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Model-View-Controller</a>
    pattern. Ruby on Rails is extensively documented <a href="http://guides.rubyonrails.org/v4.2/">here</a>.
  </p>
</div>

<h3><a name="ruby-on-rails-installation">Installation</a></h3>
<div>
  <p>
    Instructions for installing Rails on Ubuntu 16.04 LTS are available
    <a href="https://gorails.com/setup/ubuntu/16.04">here</a>. Follow variations using RVM and PostgreSQL.
  </p>
</div>

<h3><a name="ruby-on-rails-configuration">Configuration</a></h3>
<div>
  <p>
    Todo
  </p>
</div>