<h3><a name="running-service-postgresql">PostgreSQL</a></h3>
<h3><a name="running-service-membached">Memcached</a></h3>
<h3><a name="running-service-rabbitmq">RabbitMQ</a></h3>
<h3><a name="running-service-pickers">Pickers</a></h3>
<h3><a name="running-service-packers">Packers</a></h3>
<h3><a name="running-service-bookers">Bookers</a></h3>
<h3><a name="running-service-cron">Cron</a></h3>