<div>
  <p>
    Git and GitHub are used for version control. Git was created by Linus Torvalds to support
    <a href="https://en.wikipedia.org/wiki/Git">Linux kernel developoment</a> and is
    documented <a href="https://git-scm.com/about">here</a>.
  </p>
  <p>
    GitHub is a git-as-service that supports distributed development teams access to centralized
    repositories
    through a web interface. GitHub offeres extensive online help
    <a href="https://help.github.com/">here</a>.
  </p>
  <p>
    The repository is private. Access to the repository is by invitation and requires a GitHub account. With
    access granted, the repo may be cloned.
  </p>
  <%= render "pages/git_clone" %>
</div>