<div>
  <p>
    The following major software dependencies exist.
  </p>

  <ul>
    <li> Ruby version = 2.2.2</li>
    <li> Rails version = 4.2.3</li>
    <li> RVM version >= 1.27.0</li>
    <li> Git version >= 2.74</li>
    <li> PostgreSQL version = 9.5</li>
    <li> RabbitMQ version >= 3.6</li>
    <li> Memcached version >= 1.4</li>
    <li> Ubuntu Linux 16.04 LTS</li>
  </ul>
</div>