<div>
  <p>
    <a href="https://nginx.org/en/">Nginx</a> is the HTTP server used. It only provides HTTP services following the
    applications defined. Configuration information for Nginx cat be found at /etc/nginx/nginx.comf. The configuration
    file is shown below.
  </p>

  <pre>
    user www-data;
    worker_processes auto;
    pid /run/nginx.pid;

    events {
    	worker_connections 768;
    }

    http {

    	##
    	# Basic Settings
    	##

    	sendfile on;
    	tcp_nopush on;
    	tcp_nodelay on;
    	keepalive_timeout 65;
    	types_hash_max_size 2048;

    	include /etc/nginx/mime.types;
    	default_type application/octet-stream;

    	##
    	# SSL Settings
    	##

    	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
    	ssl_prefer_server_ciphers on;

    	##
    	# Logging Settings
    	##

    	access_log /var/log/nginx/access.log;
    	error_log /var/log/nginx/error.log;

    	##
    	# Gzip Settings
    	##

    	gzip on;
    	gzip_disable "msie6";

    	##
    	# Phusion Passenger config
    	##
    	# Uncomment it if you installed passenger or passenger-enterprise
    	##

    	include /etc/nginx/passenger.conf;

    	##
    	# Virtual Host Configs
    	##

    	include /etc/nginx/conf.d/*.conf;
    	include /etc/nginx/sites-enabled/*;
    }

  </pre>

  <p>
    Nginx will start on boot via the init script /etc/init/nginx.conf. For ad hoc management, the shell service
    interface can be invoked under sudo, e.g., sudo service nginx stop.
  </p>

  <pre>
    description "nginx - small, powerful, scalable web/proxy server"

    start on filesystem and static-network-up
    stop on runlevel [016]

    expect fork
    respawn

    pre-start script
    	[ -x /usr/sbin/nginx ] || { stop; exit 0; }
    	/usr/sbin/nginx -q -t -g 'daemon on; master_process on;' || { stop; exit 0; }
    end script

    exec /usr/sbin/nginx -g 'daemon on; master_process on;'

    pre-stop exec /usr/sbin/nginx -s quit
  </pre>

  <p>
    When running, the process table will have content similar to the following.
  </p>

  <pre>
    alice@perth:/etc/nginx$ ps auxww | grep nginx

    root 4111 0.0 0.0 194168 17800 ? Ss Jul04 0:00 nginx: master process /usr/sbin/nginx -g daemon on; master_process on
    alice 16439 0.0 0.0 14228 932 pts/4 S+ 14:42 0:00 grep --color=auto nginx
    www-data 27689 0.0 0.0 194168 13744 ? S Jul08 0:03 nginx: worker process
    www-data 27690 0.0 0.0 194168 13808 ? S Jul08 0:05 nginx: worker process
    www-data 27691 0.0 0.0 194168 8704 ? S Jul08 0:06 nginx: worker process
    www-data 27692 0.0 0.0 194168 8704 ? S Jul08 0:06 nginx: worker process
    www-data 27693 0.0 0.0 194168 8704 ? S Jul08 0:05 nginx: worker process
    www-data 27694 0.0 0.0 194168 13872 ? S Jul08 0:04 nginx: worker process
    www-data 27695 0.0 0.0 194168 13744 ? S Jul08 0:05 nginx: worker process
    www-data 27696 0.0 0.0 194168 8704 ? S Jul08 0:06 nginx: worker process
  </pre>

  <p>
    <a href="https://www.phusionpassenger.com/">Passenger</a> is the RoR container called by Nginx to satisfy
    application requests. The configuration file for Passenger is /etc/nginx/passenger.conf as follows. It points to an
    initialization file for Passenger and the Ruby distribution undershich Rails applications will be run.
  </p>

  <pre>
    passenger_root /usr/lib/ruby/vendor_ruby/phusion_passenger/locations.ini;
    passenger_ruby /home/alice/.rvm/wrappers/ruby-2.2.2/ruby;
  </pre>

  <p>
    The Passenger initialization contains the following directives.
  </p>

  <pre>
    [locations]
    packaging_method=deb
    bin_dir=/usr/bin
    support_binaries_dir=/usr/lib/passenger/support-binaries
    lib_dir=/usr/lib/passenger
    helper_scripts_dir=/usr/share/passenger/helper-scripts
    resources_dir=/usr/share/passenger
    include_dir=/usr/share/passenger/include
    doc_dir=/usr/share/doc/passenger
    ruby_libdir=/usr/lib/ruby/vendor_ruby
    node_libdir=/usr/share/passenger/node
    apache2_module_path=/usr/lib/apache2/modules/mod_passenger.so
    ruby_extension_source_dir=/usr/share/passenger/ruby_extension_source
    nginx_module_source_dir=/usr/share/passenger/ngx_http_passenger_module
  </pre>

</div>