<div id="wrapper" class="row">

  <nav class="col-sm-2 well">
    <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
      <li><a href="#wrapper">Top</a></li>
      <li><a href="#end-of-day">End-of-Day</a></li>
      <li><a href="#pick-pack-book">Pick, Pack & Book</a></li>
      <li><a href="#settlements">Settlements</a></li>
      <li><a href="#claim-set-aliases">Claim Set Aliases</a></li>
    </ul>
  </nav>

  <div class="col-md-10 well">
    <!-- Page content -->
    <div id="page-content-wrapper">

      <h1 id="top">Operations Help</h1>

      <h2><a name="end-of-day">End-of-Day</a></h2>
      <%= render "pages/operations_help_end_of_day" %>

      <h2><a name="pick-pack-book">Pick, Pack & Book</a></h2>
      <%= render "pages/operations_help_pick_pack_book" %>

      <h2><a name="settlements">Settlements - Claim Marks</a></h2>
      <%= render "pages/operations_help_settlements" %>

      <h2><a name="claim-set-aliases">Claim Set Aliaes</a></h2>
      <%= render "pages/operations_help_cliam_set_aliases" %>

    </div>
  </div>

</div>
